@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.orange-button {
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-grey {
    color: #727272;

}

.mini-titles {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 20px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 1rem;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    color: #131313;
    font-weight: 700;
}

.banner-image {
    margin-top: 50px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/*features section*/
.features-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
}

.image-gallery img {
    width: 100%;
}

.features-description {
    max-width: 500px;
}

.features-title {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.feature-span1 {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-span2 {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/* feature name container section */
.feature-names-container {
    display: flex;
    gap: 80px;
}

.feature-cards {
    padding: 20px;
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
}

.feature-names .mini-titles {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-names>p {
    margin-bottom: 20px;
}

/* .feature-img>img {
     height: 100%;
} */
.experience {
    width: 350px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    position: relative;
    right: 60px;
    bottom: 150px;
}

.experience>h2 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 20px 20px 0;
    margin-bottom: 0;
}

.experience>p {
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 5px;
}

/* facts section */
.facts>p {
    max-width: 500px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2.8rem;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 50px;
}

.card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
}

.card-title {
    margin-top: 0;
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsors section */
.sponsors-section {
    text-align: center;
}

.sponsors {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.sponsors>img {
    width: 120px;
    height: 40px;
}

/* footer styles */
.footer {
    border-radius: 8px;
    background: #FFF4E7;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive media queries */
/* small devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .navbar,
    .features-section,
    .facts-card-container,
    .sponsors {
        flex-direction: column;
    }

    .sponsors {
        gap: 10px;
    }

    .facts-card-container {
        align-content: center;
    }

    .features-description {
        max-width: 500px;
        padding: 0 20px;
    }

    .image-gallery {
        grid-template-columns: 1fr;
    }

    .feature-names-container {
        flex-direction: column;
    }

    .feature-img>img {
        width: 100%;
    }

    .experience {
        position: initial;
        width: 100%;
    }

    .feature-cards {
        width: 100%;
    }

}

/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .features-section {
        flex-direction: column;
    }

    .feature-names-container {
        flex-direction: column;
    }

    .feature-img {
        margin-left: 65px;
    }

    /* .experience {
        position: initial;
        width: 100%;
    } */

    .card {
        border: none;
    }
}